*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(237, 163, 249, 0.703)
}



.box-one{
    background-color: rgb(255, 255, 179);
    border-radius: 25px;
    width: 500px;
    height: 1500px;
    padding: 50px 75.5px 50px ;
    margin: 50px 420px 50px;
}

.image{
    border-radius: 25px;
}

.one{
    text-align: center;
    text-shadow: 2px 1px 3px black;
    font-family:'Times New Roman', Times, serif;
}

.box-two{
    padding-top: 10px;
}

.box-three{
    padding: 10px 10px 20px;
}

.two{
    color: rgb(201, 4, 4);
}

span{
    text-shadow: 1px 1px 1px black;
}

.box-four{
    padding: 20px 20px 10px;
    background-color:rgb(255, 202, 255);

}

.box-five{
    padding: 30px 10px 20px;
}

.box-six{
    padding: 20px 10px 20px;
}
.three{
    color: rgb(201, 4, 4);
}




    

